@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: transparent !important;
}

body {
  background: transparent !important;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  background: transparent !important;
}

::-webkit-scrollbar {
  display: none;
}
