@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background: transparent;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
