name: caching

on:
  push:
    branches:
      - master

jobs:
  caching:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: get-key
      shell: bash
      run: |
        echo "${{ secrets.PFX }}" | base64 --decode > Seonglae.pfx
        echo "${{ secrets.ENV }}" > .env

    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x


    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.OS }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-build-
          ${{ runner.OS }}-

    - name: Install npm dependencies
      run: yarn
